# Auto detect text files and normalize line endings to LF on commit
* text=auto

# Text file types
*.html text
*.css text
*.js text
*.json text
*.md text
*.svg text

# Binary file types
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.woff binary
*.woff2 binary
